@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Birds of Paradise';
    src: url('fonte/Birds\ of\ Paradise\ âˆ\ PERSONAL\ USE\ ONLY.ttf') format('truetype');
  }

:root {
    --cor0: #e8f1f2;
    --cor1: #1b98e0;
    --cor2: #247ba0;
    --cor3: #006494;
    --cor4: #13293d;
    --cor5: #fff;
    --cor6: #000;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-seriff;
    --fonte-freedom: 'Birds of Paradise', Arial;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
    color: var(--cor4);
}

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    min-height: 60px;
    text-align: center;
    padding-top: 15px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-freedom);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.251);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.208);
    display: flex;
    justify-content: center;
    gap: 4rem;
}

nav > a {
    color: var(--cor5);
    padding: 10;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor4);
}

main {
    min-width: 270px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px; /*que isso? */
    padding: 20px;
    background-color: var(--cor5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.309);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.home {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 2%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.home-texto {
    
}

.home-texto .texto-h4 {
    font-size: 1.5rem;
    color: var(--cor2);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-texto .texto-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-texto p {
    margin-bottom: 4rem;
}

.home-btn {
    padding: 15px 45px;
    background: var(--cor1);
    color: var(--cor5);
    border-radius: 10px;
    font-weight: 700;
    transition: all .5s;
    text-decoration: none;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.home-btn:hover{
    background: #229a00;
}

.home-img img {
    width: 100%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
    margin-bottom: 70px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > h4 {
    line-height: 3rem;
}

aside > h3 {
    background-color: var(--cor3);
    color: var(--cor5);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

.container {
    position: relative;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .gallery-wrapper {
    overflow-x: auto;
  }
  
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 300ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  
  .item {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }
  
  .current-item {
    opacity: 1;
  }
  
  /* This is from w3schools */
  /* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  /* Hide scrollbar for Chrome, Safari and Opera */
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .cyan {
    background: cyan;
  }
  
  .deeppink {
    background: deeppink;
  }
  
  .turquoise {
    background: turquoise;
  }
  
  .darkblue {
    background: darkblue;
  }
  
  .purple {
    background: purple;
  }
